$orange-6: #F68127;
$orange-5: #FF872B;
$orange-4: #FF9E5F;
$orange-3: #FFB687;
$orange-2: #FFD4B8;
$orange-1: #FFFCFA;

$blue-6: #3A78D7;
$blue-5: #4486E6;
$blue-4: #68A1F4;
$blue-3: #8FBAFA;
$blue-2: #BDD7FD;
$blue-1: #FAFCFF;

$yellow-6: #EBC615;
$yellow-5: #FFD739;
$yellow-4: #FFDE5F;
$yellow-3: #FFE787;
$yellow-2: #FFF1B8;
$yellow-1: #FFFEFA;

$dark-font: #444444;
$dark-shadow: rgba(0,0,0,0.5);

$light-grey: #F2F2F2;
$border-grey: #E0E0E0;

$card-bg-white: #FFFFFF;