@import "../../../assets/global-scss/variables.scss";

img{
    width:100%;
}

h2{
    margin: 2rem 0 .25rem 0;
}

.image_half{
    padding: 2rem 0 2rem;
    img{
        width: 100%;
    }
}

.p_i_body{
    font-size: 1.25rem;
}