<app-navigation [activeLink]="'caseStudies'"></app-navigation>
<app-portfolio-item-header [themeColor]="'orange'" [pageTitle]="'Sales Enablement and Planning Tool'">
    <span header>Sparks Grove was engaged to help our client redesign an in-store sales enablement tool for their store employees. Store em- ployees’ roles ranged from sales people who helped complete 100+ item orders, relationship professionals who made sure the orders were accurately and effectively filled, customer service representatives, and management who were solely responsible for the store’s key performance metrics.
        <br /> <br />
        Store employees are continually bombarded with questions about products while trying to complete multiple orders at once and use a desktop computer with a touch screen monitor, frequently showing customer order details.
    </span>
    <span role>On this project, I functioned as a UX researcher and an interaction designer producing and conducting research, wireframes, prototypes, and working with Agile development teams to plan and execute on an in-store Minimum Viable Product (MVP).</span>
    <span details>Who: Confidential<br /> When: June 2015 - October 2015</span>
</app-portfolio-item-header>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Discovery Phase & Concepting</h2>
                We began the process by completing ethnographic interviews with <b><i>50+ store associates</i></b> to understand their needs, their the current work flow state and to develop personas and user flows to guide the creation of this tool.
                <br /><br />Below, you can see much of the cognitive load store associates were put under due to the original system. Many times the store associate would write down details on scratch paper, personal notebooke, etc to carry through on other screens, as reminders, or to fill in later. With the original software, we uncovered store associates take on average 27 steps to complete an order. 
                <br /><br />
                <img src="../../../assets/images/sales_planning_tool/research_images.png">
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <h2>MVP Userflow</h2>
                Our number one goal was reduce the amount of cognitive overload to add one item to an order from up to 27 steps to three. Search > Set Quantity > Add to Cart
                <br /><br />The initial MVP flow is shown on the right. We used the user flow to guide our UX strategy for the MVP as we uncovered new required features for the MVP.
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/new_user_flow.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Concepting and Sketching</h2>
                We spent a week concepting many different interface options that we hoped would lower the associates congnitive load.
                <br /><br />
                <img src="../../../assets/images/sales_planning_tool/sketching_concepts.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Wireframes, Testing, and Iteration</h2>
                As a part of this project we helped our client migrate to an agile development process. This allowed the user experience team to integrate with squads of developers focusing on long-term and MVP work. 
                <br /><br />We brought prototypes and concepts into stores for <i>testing twice per week looking at new features,</i> A/B testing layouts, strategic features, and verifying usability of our MVP concepts.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>1. Search Screen</h3>
                <img src="../../../assets/images/sales_planning_tool/search_screen.jpg" />
            </div>
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>2. Search Results</h3>
                <img src="../../../assets/images/sales_planning_tool/search_results.jpg" />
            </div>
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>3. Product Details</h3>
                <img src="../../../assets/images/sales_planning_tool/item_detail.jpg" />
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                The two key principles we used were based on user research: context of use and familiarity.
                <br /><br />The original design is based of a traditional online shopping cart experience. We utilized the card metaphor used in current design trends. In user testing, we found physical product placement and location were important pieces of information. We added the information to the Search Results tiles, lowering the amount of time it took users to find products.
                <br /><br />Users were store employees who usually had multiple tasks assigned to them at one time. All items in a search needed to be scanable, so we tested card vs. list views and overall users were able to find items quicker in a card view. The Product Details are provided in context giving users the ability to see the details of each item without navigating to and from the search results.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Outcomes</h2>
                At the end of our 6 month engagement, we delivered an MVP experience that was piloted in two stores. 
                <br/> <br/>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>

</div>

