<app-navigation [activeLink]="'caseStudies'"></app-navigation>
<app-portfolio-item-header [themeColor]="'orange'" [pageTitle]="'Sales Tool Design'">
    <span header>Our client engaged our team to redesign an in-store sales enablement tool for their store employees. Store employees used the application to provide sales support, order tracking, logistics for complex orders, and reporting the store’s key metrics.</span>
    <span role>UX Researcher (50+ Interviews)<br />Wireframer(Sketch)<br /> Prototyper (Axure)<br />Agile Team Member</span>
    <span details>Who: Confidential<br /> When: June 2015 - October 2015</span>
</app-portfolio-item-header>


<div class="row center-section">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row center-xs center-s center-m center-l center-xl">
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6"> 
                <h2>The Challenge</h2>
                The demand for a one-stop-shop ordering tool to assist store employees in tracking large complex orders, while still providing proper reporting, led to bloated software that lost sight of user needs. In this project, we were challenged to rethink and redesign the software and process from scratch.
            </div>
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 1:</b> Discovery & Research</h3>
                We began the process by completing ethnographic interviews with 50+ store associates. This helped us understand the employees’ needs, mindsets, their current work flow, etc. We used this work to develop 3 personas and happy path user flows.
                <br /><br />    
                Below you can see the high cognitive load that store employees experienced while using the original system. 
                <br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xs col-s col-m col-l col-xl"></div>
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <img src="../../../assets/images/sales_planning_tool/research_images.png" />
            </div>
            <div class="col-xs col-s col-m col-l col-xl"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-9 col-l-9 col-xl-9">
                <h3>Research Insights</h3>
                <ul>
                    <li>Employees wrote down customer interaction details on scratch paper, personal notebooks, etc. </li>
                    <li>Users would write down details on scratch paper to input the data on the following screen. </li>
                    <li>Many times follow-ups were necessary, so employees used sticky notes as reminders. </li>
                    <li>The original software took store employees an average of 27 steps to complete an order. </li>
                </ul>
            </div>
            <div class="col-xs-12 col-s-12 col-m-3 col-l-3 col-xl-3 center-xs center-s center-m center-l center-xl">
                <div class="icon_image">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>


<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-4 col-l-4 col-xl-4 image_half left">
                <br /><br /><br />
                <img src="../../../assets/images/sales_planning_tool/new_user_flow.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 2:</b> Establish MVP User Flow</h3>
                We reduced the number of steps to complete an order from 27 to three. 
                <br /><br />
                We wanted to utilize a shopping cart metaphor to cover both user groups, so we set our happy path to Search > Set Quantity > Add to Cart.
                <br />
                The initial MVP flow is shown on the right. We used the user flow to guide our UX strategy for the MVP as we uncovered new problems and new features for the product.
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-7 col-l-7 col-xl-7">
                <h3><b>Step 3:</b> Concepts and Sketching</h3>
                We spent the first week after research brainstorming different interface concepts we theorized would lower employees cognitive load.
            </div>
            <div class="col-xs-12 col-s-12 col-m-5 col-l-5 col-xl-5">
                <img src="../../../assets/images/sales_planning_tool/sketching_concepts.png" />
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 4:</b>Wireframes, Testing, and Iteration</h3>
                For this project we helped our client migrate to a dual track agile development approach. This gave us the ability to focus on the long term strategic design while also integrating with squads of developers focusing on MVP work.
                <br /><br />
                We brought prototypes and concepts into stores for testing twice per week. We used this time to test interactions, new feature additions, A/B testing more strategic components, and verifying the usability of our MVP concept.
                <br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/search_screen.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                Our original design is based off of a traditional online shopping cart experience. We utilized the Material Design to provide familiarity to the designs.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/search_results.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                In user testing, one key discovery was that the location of a product in the store was essential information for employees. They used this information to show customers the product before placing it in the order. Due to this, we added this information on the search result card, bringing physical product placement earlier in the user flow.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/item_detail.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                Finally, because of the way our users search through products, we wanted to provide product details in context. We designed interactions where the product details displayed within the search screen as a user selected the item.
            </div>
        </div>
        
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-3 col-l-3 col-xl-3 center-xs center-s center-m center-l center-xl">
                <div class="icon_image">
                    <i class="fa fa-book fa-5x"></i>
                </div>
            </div>
            <div class="col-xs col-s col-m-1 col-l-1 col-xl-1"> </div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3>Lessons Learned</h3>
                <ul>
                    <li>Utilizing metaphors a useful tool. It becomes especially important for multiple generations of users.</li>
                	<li>Context is king. Many times the workarounds employees used surprised us.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3>Outcome</h3>
                At the end of our 6 month engagement, we delivered an MVP experience that was piloted in two stores.
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>