<app-navigation [activeLink]="'caseStudies'"></app-navigation>
<app-portfolio-item-header [themeColor]="'orange'" [pageTitle]="'Sales Tool Design'">
    <span header>Our client engaged our team redesign an in-store sales enablement tool for their store employees. Store employees’ used the application to provide sales support, order tracking, logistics for complex orders, and reporting the store’s key metrics.</span>
    <span role>UX Researcher (50+ Interviews)<br />Wireframer(Sketch)<br /> Prototyper (Axure)<br />Agile Team Member</span>
    <span details>Who: Confidential<br /> When: June 2015 - October 2015</span>
</app-portfolio-item-header>


<div class="row center-section">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row center-xs center-s center-m center-l center-xl">
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6"> 
                <h2>The Challenge</h2>
                The demand for a  one-stop-shop ordering tool to assist store employees in their efforts to track large complex orders while still providing proper reporting led to bloated software that lost sight of user needs. In this project, we were challenged to rethink and redesign this software and process from scratch. 
            </div>
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 1:</b> Discovery & Research</h3>
                We began the process by completing ethnographic interviews with 50+ store associates. This helped us understand the employees’ needs, mindsets, their current work flow, etc. We used this work to develop 3 personas, and happy path user flows.
                <br /><br />    
                Below, you can see the high cognitive load store employees experienced while using the original system. A few things that stood out.
                <br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xs col-s col-m col-l col-xl"></div>
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <img src="../../../assets/images/sales_planning_tool/research_images.png" />
            </div>
            <div class="col-xs col-s col-m col-l col-xl"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-9 col-l-9 col-xl-9">
                <h3>Research Insights</h3>
                <ul>
                    <li>Employees wrote down customer interaction details on scratch paper, personal notebooks, etc. </li>
                    <li>Users would write down details on scratch paper to input the data on the following screen. </li>
                    <li>Many times follow-ups were necessary, so employees used sticky notes as reminders. </li>
                    <li>The original software took store employees an average of 27 steps to complete an order. </li>
                </ul>
            </div>
            <div class="col-xs-12 col-s-12 col-m-3 col-l-3 col-xl-3 center-xs center-s center-m center-l center-xl">
                <div class="icon_image">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>


<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-4 col-l-4 col-xl-4 image_half left">
                <br /><br /><br />
                <img src="../../../assets/images/sales_planning_tool/new_user_flow.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 2:</b> Establish MVP User Flow</h3>
                We reduced the number of steps to complete an order from 27 to three. 
                <br /><br />
                We wanted to utilize a shopping cart metaphor to cover both user groups. So we set our happy path to Search > Set Quantity > Add to Cart
                <br />
                The initial MVP flow is shown on the right. We used the user flow to guide our UX strategy for the MVP as we uncovered new problems and new features for the product.
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-7 col-l-7 col-xl-7">
                <h3><b>Step 3:</b> Concepts and Sketching</h3>
                We spent the first week after research concepting many different interface options we theorized would lower employees cognitive load.
            </div>
            <div class="col-xs-12 col-s-12 col-m-5 col-l-5 col-xl-5">
                <img src="../../../assets/images/sales_planning_tool/sketching_concepts.png" />
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 4:</b>Wireframes, Testing, and Iteration</h3>
                For this project we helped our client migrate to an dual track agile development approach. This gave us the ability to both focus on the long term strategic design while also integrating with squads of developers focusing on MVP work.
                <br /><br />
                We brought prototypes and concepts into stores for testing twice per week. We use this time to test interactions, new feature additions, A/B testing more strategic components, and verify the usability of our MVP concept.
                <br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/search_screen.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                Our original design is based off of a traditional online shopping cart experience. We utilized the Material Design to provide familiarity to the designs.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/search_results.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                In user testing, one key learning we found that physical product placement in the stores were a key piece of information for employees. They used this information to show customers the product before placing it in the order. Due to this, we added this information on the search result card, bringing physical product placement earlier in the user flow. 
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/item_detail.jpg" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                Finally, with the way our users searche through products, we wanted to provide product details in context. So we designed interactions where the details displayed within the search screen as a user selected the item.
            </div>
        </div>
        
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row middle-xs middle-s middle-m middle-l middle-xl ">
            <div class="col-xs-12 col-s-12 col-m-3 col-l-3 col-xl-3 center-xs center-s center-m center-l center-xl">
                <div class="icon_image">
                    <i class="fa fa-book fa-5x"></i>
                </div>
            </div>
            <div class="col-xs col-s col-m-1 col-l-1 col-xl-1"> </div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3>Lessons Learned</h3>
                <ul>
                    <li>Utilizing metaphors a useful tool. It becomes especially important for multiple generations of users.</li>
                	<li>Context is king. Many times the workarounds employees used surprised us.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3>Outcome</h3>
                At the end of our 6 month engagement, we delivered an MVP experience that was piloted in two stores.
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>




<!-- old version -->
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <h2>MVP Userflow</h2>
                Our number one goal was reduce the amount of cognitive overload to add one item to an order from up to 27 steps to three. Search > Set Quantity > Add to Cart
                <br /><br />The initial MVP flow is shown on the right. We used the user flow to guide our UX strategy for the MVP as we uncovered new required features for the MVP.
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/sales_planning_tool/new_user_flow.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Concepting and Sketching</h2>
                We spent a week concepting many different interface options that we hoped would lower the associates congnitive load.
                <br /><br />
                <img src="../../../assets/images/sales_planning_tool/sketching_concepts.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Wireframes, Testing, and Iteration</h2>
                As a part of this project we helped our client migrate to an agile development process. This allowed the user experience team to integrate with squads of developers focusing on long-term and MVP work. 
                <br /><br />We brought prototypes and concepts into stores for <i>testing twice per week looking at new features,</i> A/B testing layouts, strategic features, and verifying usability of our MVP concepts.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>1. Search Screen</h3>
                <img src="../../../assets/images/sales_planning_tool/search_screen.jpg" />
            </div>
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>2. Search Results</h3>
                <img src="../../../assets/images/sales_planning_tool/search_results.jpg" />
            </div>
            <div class="col-xs-12 col-s-4 col-m-4 col-l-4 col-xl-4">
                <h3>3. Product Details</h3>
                <img src="../../../assets/images/sales_planning_tool/item_detail.jpg" />
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                The two key principles we used were based on user research: context of use and familiarity.
                <br /><br />The original design is based of a traditional online shopping cart experience. We utilized the card metaphor used in current design trends. In user testing, we found physical product placement and location were important pieces of information. We added the information to the Search Results tiles, lowering the amount of time it took users to find products.
                <br /><br />Users were store employees who usually had multiple tasks assigned to them at one time. All items in a search needed to be scanable, so we tested card vs. list views and overall users were able to find items quicker in a card view. The Product Details are provided in context giving users the ability to see the details of each item without navigating to and from the search results.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Outcomes</h2>
                At the end of our 6 month engagement, we delivered an MVP experience that was piloted in two stores. 
                <br/> <br/>
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>

</div>

