@import "../../assets/global-scss/variables.scss";

.dark-section{
    background-color: $light-grey;
    padding: 4rem 0 4rem 0;
}

.light-section{
    background-color: $card-bg-white;
    padding: 4rem 0 4rem 0;
}

.card{
    background-color: $card-bg-white;
    border: 1px solid $border-grey;
    box-shadow: 0px 2px 4px $dark-shadow;
    
    img{
        width: calc( 100% - 32px );
        margin: 16px;
    }
}

.sectionCopyContainer{
    display: table;
    padding-left: 16px;
}
.sectionCopy{
    display: table-cell;
    vertical-align: middle;
}
.bodyCopy{
    font-size: 1rem;
    padding: 1em;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

@media screen and (max-width: 768px) {
    .sectionCopy{
        padding: 2rem 0 0 0;
    }
    .dark-section{
        padding: 3rem 1rem 2rem 1rem;
    }

    .light-section{
        padding: 1rem;
        padding: 3rem 1rem 2rem 1rem;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
}


