@import "../../assets/global-scss/variables.scss";

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 .5rem -3px;
}

.subheader {
    font-size: 1rem;
    font-weight: bold;
}

.pageHeader {
    margin: 4rem 0 4rem 0;
}

.pageHeaderCopy{
    font-size: 1.5rem;
    font-weight: 300;
    width: 45ch;

    p{
        margin: 0;
        padding: 0;
    }

    i .highlight{
        font-weight: bold;
    }
}

.bg_image{
    background-image: url("../../assets/images/wesley_smith_image.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 80%;
}

@media screen and (max-width: 768px) {
    .bg_image{
    background-image: none;
    }

    .pageHeaderCopy{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bg_image{
    background-image: none;
    }

    .pageHeaderCopy{
        width: 100%;
    }
}

@media screen and (min-width: 1199px) {
    .bg_image{
        background-image: url("../../assets/images/wesley_smith_image.png");
    }
    .pageHeaderCopy{
        width: 45ch;
        background-color: $blue-1;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1380px) {
    .bg_image{
       background-image: url("../../assets/images/wesley_smith_image.png");
    }

    .pageHeaderCopy{
        width: 45ch;
    }

}
