<app-navigation [activeLink]="'caseStudies'"></app-navigation>
<app-portfolio-item-header [themeColor]="'orange'" [pageTitle]="'Material Redesign'">
    <span header>The technology team created four different apps for internal use, and there were many inconsistencies, scrum teams were building custom components for each app, and designers had minor differences across Illustrator and Sketch files.</span>
    <span role>Design Lead & Strategist<br /> Visual Design (Sketch) </span>
    <span details>Who: NextGear Capital<br /> When: Nov 2016 - Jan 2017</span>
</app-portfolio-item-header>

<div class="row center-section">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row center-xs center-s center-m center-l center-xl">
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6"> 
                <h2>The Challenge</h2>
                Supporting seven scrum teams and maintaining UI and UX best practices can be challenging. It becomes even more challenging when the development team builds and maintains web applications for each department. So, I brought the concept of a design system to the forefront and began building the Redline Design System.
            </div>
            <div class="col-xs col-s col-m-3 col-l-3 col-xl-3"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3><b>Step 1:</b> Catalog current inconsistencies</h3>
                The first step in defining a design system is mapping out where inconsistencies exist. So, I mapped out the inconsistencies across four applications as a baseline.
                <br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xs col-s col-m col-l col-xl"></div>
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <img src="../../../assets/images/material_redesign/component_audit.png" />
            </div>
            <div class="col-xs col-s col-m col-l col-xl"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <h3><b>Step 2:</b> Catalog current inconsistencies</h3>
            Next, I established design principles that all UX Designers, Researchers, Developers, Product Owners, and other stakeholders should follow.                 
            <br /><br />
        </div>
        <div class="row">
            <div class="col-xs col-s col-m col-l col-xl"></div>
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <img src="../../../assets/images/material_redesign/principles.png" />
            </div>
            <div class="col-xs col-s col-m col-l col-xl"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <h3><b>Step 3:</b> Apply Material Design</h3>
                To speed up the design process of the design system, I chose to utilize the React Material library, which the development teams had been using. 
                <br /><br />To test Material Design against the requirements of current apps, I applied Material Design principles to the current apps. 
                <br /><br />With the four separate apps, I was able to identify a base set of components for the design system MVP.
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/material_group.png" />
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body dark">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/component_guidance.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <h3><b>Step 4:</b> Apply Material Design</h3>
                For the design system to be effective, I provided guidance to both the design and development on the proper use of a design system. The Guidance was established based on usability testing of the legacy systems and industry best practices.
            </div>

        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <h3>Summary</h3>
                NextGear implemented the Redline Design System with a dual implementation approach. First, all new applications utilize the one centralized design system. Second, UX debt items were created and placed into the backlog for implementation in future sprint.<br /><br />
            </div>
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
        </div>
        <div class="row">
            <div class="col-xs col-s col-m-2 col-l-2 col-xl-2"></div>
            <div class="col-xs-12 col-s-12 col-m-8 col-l-8 col-xl-8">
                <br /><br /> 
                <img src="../../../assets/images/material_redesign/redline_logo.png" />
            </div>
            <div class="col-xs col-s col-m col-l col-xl"></div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>
</div>
