<app-navigation [activeLink]="'caseStudies'"></app-navigation>
<app-portfolio-item-header [themeColor]="'orange'" [pageTitle]="'Material Redesign'">
    <span header>As a technology organization, the development teams took shortcuts and spent time building designs that were not up to par with industry. The UX team was tasked with delivering a design system and UI library for our developer’s use. Working with the development team, we selected the Material UI library (React). To help the development teams to think in a componetized way, we based the design system off of Brad Frost’s Atomic Design methodology. Once these core systems were selected, we started redesigning the current applications with proper visual design principles applied through the lens of Material Design.
        <br/><br/><b>Note:</b> This exercise was built to stretch our design system and see if additions needed to be made. The designs you are about to see have UX flaws. Minimal User Centered Design process was applied to these applications, so there are Information Architecture issues. </span>
    <span role>As the Design Lead, I set a vision for the design library, determined the structure of the design system, and redesigned all of our applications with Material Design principles to verify the robustness of the design library / UI library.</span>
    <span details>Who: NextGear Capital<br /> When: November 2016 - January 2017</span>
</app-portfolio-item-header>

<div class="row p_i_body">
    <div class="col-xs col-s col-m col-l col-xl"> </div>
    <div class="col-xs-8 col-s-8 col-m=8 col-l-8 col-xl-8"> 
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/material-design-1.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                In this application redesign, we took the accounting application and applied material principles. This tested the system 
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/material-design-2.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                This page tested tile interactivity in the sidebar. We tested card layouts on the page, but the users goal was quick processing. The extra spacing slowed our users down, so we wen with a tile approach on this screen.
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/material-design-3.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                On this page, We tested the information visualization of our material design usage. We tested some pop-up tile effects for the "Details on Demand" principle of information visualization, and users loved being able to drill down into detail. 
            </div>
        </div>
        <div class="row image_half">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                <img src="../../../assets/images/material_redesign/material-design-4.png" />
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6">
                On this page, we tested the use of different tabs in material design. 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <h2>Outcomes</h2>
                By the completion of this project, we had a better inventory of components currently used, and the effectiveness of the Material Redesign. We were able to apply material design and establish a design system which helped create consistency across multiple applications impacting 300+ interal users.
            </div>
        </div>
    </div>
    <div class="col-xs col-s col-m col-l col-xl"> </div>

</div>

