@import "../../assets/global-scss/variables.scss";

.nav-link{
    color: $dark-font;
    padding: 1em 0 1em 0;
}

.top-nav{
    overflow: hidden;
}

.menu{
    a{
        display:block;
        padding: .75em 16px .75em 16px;
        float: right;
        text-decoration: none;
        color: $dark-font;
        border-bottom-color: transparent;
        margin: 0 2px 0 2px;
    }
    a:hover{
        text-decoration: none;
        color: $orange-5;
        border-bottom-color: $orange-3;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        transition: ease .5s;
    }

    a.active-item{
        text-decoration: none;
        border-bottom-color: $orange-5;
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media screen and (max-width: 768px) {

    a.active-item{
      text-decoration: none;
      color: $orange-5;
  }
    label {
      display: block;
      cursor: pointer;
    }

    .menu{
      text-align: center;
      clear: right;
      width: 100%;
      display: none;
    }

    .menu a {
      display: block;
      width: 100%;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
  }

    #toggle:checked + .menu {
      display: block;
  }
}