@import "../../assets/global-scss/variables.scss";

.fullCard{
    background-color: $card-bg-white;
    border: 1px solid $border-grey;
    box-shadow: 0px 2px 4px $dark-shadow;
    padding: 2rem;
    margin: 1rem 0 1rem 0;

    .authorName{
        font-weight: 700;
    }

    .authorTitle{
        font-weight: 300;
        font-style: italic;
    }

    img{
        width: calc( 100% - 2em);

    }
}


/* styling of bar above quote*/
.bar{
    width: 50px;
    border-top: 3px solid $dark-font;
}

.bar.blue{
    border-top: 3px solid $blue-5;
}

.bar.orange{
    border-top: 3px solid $orange-5;
}

.bar.yellow{
    border-top: 3px solid $yellow-5;
}



/* quote mark styling */
.quoteCopyStyle{
    font-size: 1.25rem;
    font-weight: 300;
}


/* style of quotation mark color options are blue, orange, yellw*/
.quoteStyle{
    font: 3rem bold;

    .blue{
        color: $blue-3;
    }

    .orange{
        color: $orange-3;
    }

    .yellow{
        color: $yellow-3;
    }
}