<app-navigation [activeLink]="'resume'"></app-navigation>

<app-page-header [pageTitle]="'My Work History'" [subHead]="'Resume'">
    As a UX Design Leader, my work has focused on implementation of UX systems and process to enable new design teams to perform with a consistent appraoch. I'm skilled at bringing together UX and development team members to deliver a best in class product.
    <br/> <br/>
    I've led or co-lead the creation of two design systems. The Lilly Design System and the Redline Design System. 
    <br/> <br/>
    I bring scalable and valid research techniques to my teams. In two separate jobs, I've brought new UX research techniques with a mindset toward validity. This allowed me to standardize research processes for my team.
    <br /> <br />
    <i class="far fa-arrow-
    alt-circle-down"></i>
    <a href="/assets/images/pdf/Wesley_Smith_Resume.pdf" download>
        <button class="btn-primary blue" ><i class="fa fa-download"></i>&nbsp;Download My Resume </button>
    </a>
</app-page-header>